body{
    background: rgba(243, 245, 252, 1);
    font-family: 'Inter', sans-serif;
}
#icone{
    position: absolute;
    left: 10%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
    font-size: 48px;
    font-style: normal;
    color: rgba(10, 56, 113, 1);
}
#codi{
    position: absolute;
    width: 680px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}
#exibir{
    position: absolute;
    width: 400px;
    height: auto;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding-top: 30px; 
    padding-bottom: 30px;
}
#criptografar{
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: rgba(10, 56, 113, 1);
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color:  rgba(255, 255, 255, 1);
}
#btc{
    padding-right: 5%;
}
#descriptografar{
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    color: rgba(10, 56, 113, 1);
    flex-grow: 0;
}
#botoes{
    display:inline-flex;
}
#titu-pro{
    background-color: #FFFFFF;
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
#dig-pro{
    background-color: #FFFFFF;
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    background-color: #FFFFFF;
    padding-bottom: 50px;
}
#conjunto{
    bottom: 10px;
    left: 15%;
    position: absolute;
    
}
#copiar{
    width: 300px;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding-bottom: 50px;
    text-align: center;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    margin-left: 15%;
    border-radius: 24px;

}
#texto{
    width: 336px;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    background-color: #FFFFFF;
    margin-left: 10%;
    margin-right: 10%;
    
}
#criptografado{
    position: absolute;
    width: 400px;
    height: auto;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding-top: 30px; 
    padding-bottom: 30px;
}

@media (max-width: 500px)
{
    #icone{
        position: absolute;
        left: 10%;
        right: 37.43%;
        top: 0%;
        bottom: 0%;
        font-size: 68px;
        font-style: normal;
        color: rgba(10, 56, 113, 1);
    }
    #imagem{
        display: none;
    }
    #codi{
        width: 90%;
        height: 48px;
        left: 16px;
        top: 152px;
    }
    #btc, #btdc{
    padding-right: 5%;
    padding-top:2%
    }
    #criptografar{
        width: 90%;
        height: 67px;
    }
    #descriptografar{
        width: 90%;
        height: 67px;
    }
    #botoes{
        display:block; 
        
    }
    #conjunto{
        position: initial;        
        margin-top:-480px;
    }
    #exibir{
        position: inherit;
        margin-top:400px;
        display:flex;
    }
    #dig-pro{
        line-height: 150%;
        margin-left:-300px;
      margin-top:50px;        
    }
    #titu-pro{
        margin-top:-10px;   
    }
    #exibir{;
        margin-top:450px;
        position:initial;
        width: 100%;
    }
    #copiar{
        visibility: visible;
        margin-top:650px;
        
    }
    #criptografado{
        position: absolute;
        width: 90%;
        height: auto;
        left:5%;
        top: 400px;
    }
    #copiar{
    width: 300px;
    height:50px;
    margin: 0px;

}
    #texto{
    width: 100%;
    font-size: 24px;    
}
}